.greeting-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.greeting-title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.greeting-content {
  text-align:center;
  display: flex;
  align-items: center;
}

.greeting-text {
  text-align:center;
  flex-grow: 1;
  font-size: 18px;
  color: #1df44b;
}

.greeting-button {
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.greeting-button:hover {
  background-color: #0056b3;
}

.button-text {
  display: flex;
  flex-direction:row;
}
